<div th:fragment="menunav">
    <nav class="navbar navbar-expand-lg navbar-light rounded " style="background-color: #009999;" >
                   
                
        <div class="collapse navbar-collapse justify-content-md-center " id="navbarsExample10">
          <ul class="navbar-nav">
              
            <li class="nav-item">  
              <a class="nav-link text-light font-weight-bold" th:href="@{../projetCreate}">Crétion d'un projet</a>
            </li>
            <li class="nav-item">  
                    <a class="nav-link text-light font-weight-bold" th:href="@{../rojectManagement}">Gestion d'un projet</a>
            </li>
            <li class="nav-item">  
                    <a class="nav-link text-light font-weight-bold" th:href="@{../schedule}">Planning</a>
            </li>
            <li class="nav-item">  
              <a class="nav-link text-light font-weight-bold" th:href="@{../messaging}">Messagerie</a>
            </li>
            <li class="nav-item">  
              <a class="nav-link text-light font-weight-bold" th:href="@{../repertory}">Dépot du projet</a>
            </li>
            <li class="nav-item">  
              <a class="nav-link text-light font-weight-bold" th:href="@{../toDoList}">Chose à faire</a>
            </li>
            <li class="nav-item">  
              <a class="nav-link text-light font-weight-bold" th:href="@{../logout}">Déconnexion</a>
            </li>
            
          </ul>
        </div>
      </nav>
</div>      
