<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login Page</title>
    </head>

    <body>

        <div class="container">
            <div class="row">

                <div class="col" layout:fragment="content">
                    <div>
                        <h1>Connectez-vous à votre espace personnel</h1>
                    </div>

                    <div th:if="${param.error}">
                        Invalid username and password
                    </div>

                    <div th:if="${param.logout}">
                        You have been logged out.
                    </div>

                    <form th:action="@{/connection}" method="post">
                        <input type="text" name="username" placeholder="Insérez votre pseudonyme" />
                        <input type="password" name="password" placeholder="Rentrez votre mot de passe" />
                        <input type="submit" value="Valider">
                    </form>
                    
                </div>
            </div>
        </div>
    </body>

</html>