<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Index</title>
    </head>

    <body>
        test
        <div class="container">
            <div class="row">
                <!--<div class="col-2" layout:fragment="sidebar">
                    <h1>Sidebar</h1>
                    <a href="#">Login</a>
                </div>-->
                
                <div class="col" layout:fragment="content">
                    <h1>Index du site</h1>

                    <div sec:authorize="isAnonymous()">
                           Cher visiteur, <br> 
                           veuillez vous connecter en cliquant sur <b>Login</b> pour accéder à votre espace personnel <br> 
                           ou vous inscrire à l'application en en cliquant sur <b>Sign Up</b>           
                    </div>
                    <div sec:authorize="hasRole('USER')">
                            Vous êtes connecté et avez le statut <span sec:authentication="principal.authorities"></span>                   
                     </div>             

                </div>
            </div>
        </div>
    </body>

</html>