<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Logout Page</title>
    </head>

    <body>

        <div class="container">
            <div class="row">

                <div class="col" layout:fragment="content">
                    <div>
                        <h1>Vous êtes déconnecté</h1>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>

</html>