<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Espace Membre de DeadLine</title>
    </head>

    <body>

        <div class="container">
            <div class="row">
                
                <div class="col" layout:fragment="content">

                    <h1>Espace membre de <span sec:authentication="name"></span></h1>

                    <ul class="list-group">

                        <li class="list-group-item">
                            <h2>Ensemble des membres inscrits</h2>         
                            <div th:each="v : ${member}">
                                <span th:text="'Id: '+ ${v.id} + '  - Pseudo: '+ ${v.userName} + '  - Email: '+ ${v.email}" th:attr="style='background: yellow'"></span>
                            </div>
                        </li>
                        
                        <li class="list-group-item">
                            <h2>Ensemble des projets crées par <span sec:authentication="name"></span></h2>
                            <div th:each="v : ${project}">                        

                                <a th:if="${u.id} == ${v.userList[0].id}" th:href=" @{|/projectManagement/${v.id}|} " th:attr="style='color:black'">
                                    <span th:text="'Id: '+ ${v.id} 
                                    + '  - Projet: '+ ${v.name} 
                                    + '  - NbCollaborateurs: '+ ${v.nbMember} " 
                                    th:attr="style='background: grey'"></span>
                                </a>
                            
                            </div>
                        </li>

                        <li class="list-group-item">
                            <h2><a th:href="@{/projetCreate}">Création d'un projet</a></h2>
                        </li>

                    </ul>


                </div>
            </div>
        </div>

    </body>
</html>