<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Création de projet</title>
    </head>

    <body>

        <div class="container">
            <div class="row">

                <div class="col" layout:fragment="content">

                    


                    <div>
                        <h1>Page de Création d'un projet</h1>                       
                    </div>

                    <ul class="list-group">


                        <li class="list-group-item">
                            <h2>Ensemble des membres inscrits</h2>
                            <div th:each="v : ${member}">
                                <span th:text="'Identifiant: '+ ${v.id} + '  - Pseudonyme: '+ ${v.userName}" th:attr="style='background: yellow'"></span>
                            </div>
                        </li>

                        <li class="list-group-item">

                            <div class="p-3 mb-2 bg-light text-dark">
                                <h2>Créer un nouveau projet</h2>                          
                                <form th:action="@{/addprojet}" method="post" th:object="${pro}">

                                    <div class="form-group row">
                                            <b class="col-4 col-form-label">Nom du projet : </b>
                                            <input type="text" th:field="*{name}" th:attr="placeholder='nom'"/>
                                    </div>

                                    <div class="form-group row">
                                        <b class="col-4 col-form-label">Nombre de membres prévus : </b>
                                        <input type="text" th:field="*{nbMember}" th:attr="placeholder='nombre de membres prévus' "/>
                                    </div>

                                    <div class="form-group row">
                                        <b class="col-4 col-form-label">Date de cloture du projet : </b>
                                        <input type="datetime-local" th:field="*{dateDue}" th:attr="placeholder='Date de rendu' "/>
                                    </div>  
                  
                                    <input class="btn btn-primary" type="submit" value="Valider">

                                </form>
                            </div>
                        </li>










                </div>
            </div>
        </div>
    </body>

</html>