<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" type = "text/css" th:href="@{/picnic.css}">
    <title>Creation de Projet</title>
</head>
<body>
    <h1>Page de Création d'un projet</h1>

    <div>
        <h1>Après la connexion</h1>
    </div>

    <a th:href="@{home}">Retour vers l'index</a> <br><br>
    <a th:href="@{member}">Vers la page de membre</a>

    <div>
        <h1>Créez votre projet</h1>
        <p>Membres inscrits sur l'application</p>
    </div>

    <div th:each="v : ${member}">
        <span th:text="'Identifiant: '+ ${v.id} + '  - Pseudonyme: '+ ${v.pseudo}" th:attr="style='background: yellow'"></span>
    </div>

    <br>    

    <form th:action="@{/addprojet}" method="post" th:object="${pro}">
        Nom du projet
        <input type="text" th:field="*{name}" th:attr="placeholder='nom'"/>
        Nombre de membres prévus
        <input type="text" th:field="*{nbMember}" th:attr="placeholder='nombre de membres prévus' "/>
        Membre responsable
        <input type="text" th:field="*{utilisateurList[0].id}" th:attr="placeholder='Id du membre responsable'"/>
        Date de cloture du projet
        <input type="datetime-local" th:field="*{dateDue}" th:attr="placeholder='Date de rendu' "/>
        <input type="submit" value="Valider">
    </form>

</body>
</html>