
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/layout">
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <title>Dépot de l'application</title>
</head>
<body>
    <div class="col" layout:fragment="content">
        <div th:replace="fragments/menunav  :: menunav"></div> <br>
        <h1>Page de dépot de fichiers</h1> <br>

    
    <div>
        <h1>Déposez les fichiers utiles à votre projet en cours</h1>
        
    </div>
    </div>

</body>
</html>